.quiz_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.check_answers {
	margin: 1em;
	max-width: 40%;
	align-self: center;
}
.results {
	font-size: 2em;
	text-align: center;
	font-weight: bolder;
	background-color: var(--primary-color);
	color: var(--accent-color);
}
